.label-form {
  font-size: 15px;
  font-weight: 900;
  color: var(--primary-color-font);;
}

.input-form {
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--primary-color-font);
  font-size: 15px;
  background: transparent;
  transition: border-color 0.2s; outline: 0;
}

.input-form:focus {
  border-width: 3px;
  outline: none;
  box-shadow: none;
}