.login-container {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  /* width: 50%; */
  /* justify-self: center; */
}

.login-user {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  border: 2px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  padding: 10px;
  margin: 5px;
  align-items: left;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}